extends layout

block content
  h1 #{title}
  #container.col
    p Bine ai venit!
    p
      | Pentru a putea juca acest joc trebuie mai întâi să îţi creezi un cont, apoi sa te loghezi cu datele tale.
      | Jocul constă într-o luptă 1 versus 1 cu un alt jucător. 
      br 
      |Scopul tău este să distrugi tancul oponentului.
      br
      | Pentru a controla tancul foloseşte tastele direcţionale iar pentru a trage foloseşte mouse-ul.
      br
      | Succes şi distracţie placută!
  ul.list-group
